<header class="flex items-center gap-2 justify-between p-1 mb-2">
  <div class="flex items-center gap-2">
    {{> hamburger}}
    <a
      class="font-bold whitespace-nowrap lg:text-base text-sm no-underline"
      href="/"
      data-link
    >
      <span class="text-sepia-grey_four"> KLL </span>
      <span class="text-sepia-500"> SPACE </span>
    </a>
  </div>
  <div class="flex items-center gap-2 text-xs">
    <a href="https://ko-fi.com/kazerlelutin" target="_blank"
      >{{t key='buy me a coffee'}}</a
    >
  </div>
</header>
