<div
  class="flex flex-col gap-2 border-r border-sepia-300 p-2 h-full group-[.nav-open]:p-0 group-[.nav-open]:w-0 w-44 relative transition-all duration-200 ease-in-out overflow-x-hidden"
>
  {{menu}}
  <nav
    class="absolute inset-0 group-[.nav-open]:whitespace-normal overflow-x-hidden whitespace-nowrap group-[.nav-open]:-left-48 transition-transform duration-300 p-2 test-sm grid grid-rows-[auto_1fr] gap-2"
  >
    <section>
      <!-- HERE COMMON PARAMS-->
      <a
        href="/{{lang}}"
        class="text-sm no-underline data-[current=true]:bg-sepia-100 rounded-sm p-1 block"
        title="{{t key='home'}}"
        data-current="{{is-current-link url='/{{lang}}'}}"
        data-link
        >{{t key='home'}}</a
      >
    </section>
    <section class="relative h-full">
      <div
        class="absolute inset-0 overflow-y-auto overflow-x-hidden flex flex-col gap-3 w-full"
      >
        {{#each menuEntries }}
        <div class="border-sepia-400 border-t pb-1 pt-1">
          <a
            data-current="{{is-current-link url=url}}"
            href="{{url}}"
            title="{{name}}"
            data-link
            class="font-bold no-underline text-sm hover:text-sepia-400 p-1 data-[current=true]:bg-sepia-100 rounded-sm block"
            >{{name}}</a
          >
          {{#if submenu}}
          <div class="flex flex-col ml-2 gap-1">
            {{#each submenu}}
            <a
              data-current="{{is-current-link url=url}}"
              href="{{url}}"
              class="text-sm no-underline data-[current=true]:bg-sepia-100 rounded-sm p-1 block"
              title="{{../name}} - {{name}}"
              data-link
              >{{name}}</a
            >
            {{/each}}
          </div>
        </div>
        {{/if}} {{/each}}
      </div>
    </section>
  </nav>
</div>
